# This is a basic workflow to help you get started with Actions
name: weekly-spx-gex-30MIN-interval

# Controls when the workflow will run
on:
  # Triggers the workflow every 5 minutes
#  schedule:
#    - cron: '30 14-21 * * 1-5'  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  pull-requests: read # Allows reading pull request information  

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with: 
          ref: main
      - name: Setup Python
        uses: actions/setup-python@v4
        with: 
          python-version: 3.11 #install the python needed
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Generate GEX Report
        run: python gamma_cli.py ^SPX 2026-01-09
      
